/*// CSS Style page

// note for the diagonal background of the border
// this might need to be it's own div
// from this page: http://www.patternify.com/*/

/*.myDiv{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOUlEQVQYV2NkYGD4z8DAwMiAB8Ak8SpENgGnQnRrsCrE5hYMhbgcjKIQn6/gCvF6HRY8hBSBQu8/ANT4CQkBgPxMAAAAAElFTkSuQmCC);
  repeat;
}*/

* {
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #333333;
  max-width: 640px;
  margin: 0px auto;
}

header {

}

footer {
  font-family: "Georgia", Times, sans-serif;
  font-size: 10px;
  color: #999999;
  text-align: center;
  line-height: 10px;
}

header>img {
  display: inline;
}

footer.p {
  background-color: orange;
}

#img>img {
  width: 640px;
}

#recipe>img {
  width: 640px;
}

#author-share>img {
  display: inline;
}

#blog-name {
  font-family: "Brush Script MT", serif;
  font-size: 35px;
}

#blog-name-sub {
  font-size: 12px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  text-transform: uppercase;
  color: #999999;
}

#title {
  font-family: "Impact", Verdana, sans-serif;
}

#publish-print {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  color: #999999;
  font-size: 10px;
}

#text {
  font-family: "Georgia", Times, serif;
  text-indent: 20px;
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

#recipe {
  background-image: ulr("list-bg.png");
}

#author-share {
  font-family: "Georgia", Times, sans-serif;
  color: #999999;
  font-size: 12px;
}
