/*// CSS Style page

// note for the diagonal background of the border
// this might need to be it's own div
// from this page: http://www.patternify.com/*/

/*.myDiv{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOUlEQVQYV2NkYGD4z8DAwMiAB8Ak8SpENgGnQnRrsCrE5hYMhbgcjKIQn6/gCvF6HRY8hBSBQu8/ANT4CQkBgPxMAAAAAElFTkSuQmCC);
  repeat;
}*/

body {
  background-color: #ffffff;
  color: #333333;
  max-width: 640px;
  margin: 0px auto;
}

/* ************************************************************ */

header {
 /*background-color: yellow;*/
}

header>img {
  /*display: inline-block;*/
  float: left;
  display: inline;
  padding: 0px, 40px, 0px, 0px;
  height: 40px;
}

#blog-name>span {
  color: #000000;
  font-family: "Brush Script MT", serif;
  font-size: 35px;
  display: inline;
  text-transform: none;
  line-height: 30px;
}

#blog-name {
  font-size: 10px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  text-transform: uppercase;
  color: #999999;
  margin: 0;
  padding: 0;
  position: relative;
  left: 10px;
  /*line-height: 10px;*/
}

#social {
  position: relative;
  display: inline;
  float: right;
  background-color: orange;
  /*display: inline-block;*/
  /*margin: 0;
  padding: 0;*/
}

#social>img {
  /*margin: 0;
  padding: 0;*/
}

#rss {
  margin-left: 10px;
}

.deco-line {
  margin: 20px 0px;
  display: block;
  width: 640px;
  height: 14px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOUlEQVQYV2NkYGD4z8DAwMiAB8Ak8SpENgGnQnRrsCrE5hYMhbgcjKIQn6/gCvF6HRY8hBSBQu8/ANT4CQkBgPxMAAAAAElFTkSuQmCC);
  /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQYV2NkYGD4z8DAwMgAATjZBBXADIEpxGsaSDFI4ajVOEMAAA+gIgfZ8OOiAAAAAElFTkSuQmCC);*/
  repeat;
}
/* ************************************************************ */

footer {
  font-family: "Georgia", Times, sans-serif;
  font-size: 10px;
  color: #999999;
  text-align: center;
  line-height: 10px;
}

footer.p {
  background-color: orange;
}

#img>img {
  width: 640px;
}

#recipe>img {
  width: 640px;
}

#author-share>img {
  display: inline;
}

/*#recipe>ul {
  background-image: url("images/list-bg.png");
  font-size: 20px;
}*/

/*#blog-name-sub {
  font-size: 12px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  text-transform: uppercase;
  color: #999999;
}*/

#title {
  font-family: "Impact", Verdana, sans-serif;
}

#publish-print {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  color: #999999;
  font-size: 10px;
}

#text {
  font-family: "Georgia", Times, serif;
  text-indent: 20px;
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

#recipe {
  background-image: url("images/list-bg.png");
  font-family: "Comic Sans MS", sans-serif;
  font-size: 12px;
  padding: 20px;
  color: #666666;
  column-count: 2;
}

#author-share {
  font-family: "Georgia", Times, sans-serif;
  color: #999999;
  font-size: 12px;
}
